@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body{
    margin: 0;
    padding: 0;
    background: url(../images/books4.png) no-repeat center fixed;
    background-size: cover;
    background-position: center;
    font-family: 'Roboto';
    text-align:center;
    overflow:scroll;
}

.notesBox {
    background: #222222;
    opacity: 0.8;
    height: 400px;
    width: 80%;
    margin-left: 10%;
    /* margin-top: 10%; */
    padding-top: 10px;
    overflow-y: scroll;
}

.notesBox h1 {
    color: aliceblue;
    font-family: 'Roboto';
    padding-bottom: 10px;
    font-size: 20px;
}

.notesBox a {
    color: aliceblue;
}