<html>

    <head>
        <title>Home | Updown</title>
        <link rel="stylesheet" type="text/css" href="../static/css/download.css">
        <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
        <link rel="stylesheet" type="text/css" href="../static/css/navigationBar.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    </head>
    
    
    <body>
    
        <script language="javascript" type="text/javascript" src="../static/navAndFooter/navDownload.txt"></script>
    
        <script language="javascript" type="text/javascript" src="../static/navAndFooter/footer.txt"></script>
    
    </body>
    </html>
    