<!DOCTYPE html>
<html>
<head>
<title>Login | Updown</title>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <script src="../static/js/login.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <div class="loginbox">
    <img src="../static/images/avatar.png" class="avatar">
        <h1>Login</h1>
        <form ... onsubmit="return checkForm(this);" action="/" method="POST">
            <p>Username</p>
            <input type="text" name="username" placeholder="Enter the Username">
            <p>Password</p>
            <input type="password" name="password" placeholder="Enter the Password">
            <input type="submit" name="" value="Login" onclick="checkpassword()">
        </form>
        {{ confirm }}<br>
        <a href="/register"><u>Don't have an account yet?</u></a>
    </div>

</body>
</head>
</html>
