<html>

<head>
    <title>Home | Updown</title>
    <link rel="stylesheet" type="text/css" href="../static/css/upload.css">
    <link rel="stylesheet" type="text/css" href="../static/css/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/css/navigationBar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>


<body>

    <script language="javascript" type="text/javascript" src="../static/navAndFooter/navUpload.txt"></script>
    <form method="post" enctype="multipart/form-data">
        <select name="branch">
            <option value="CSE">CSE</option>
            <option value="ISE">ISE</option>
            <option value="ECE">ECE</option>
            <option value="EEE">EEE</option>
            <option value="MECH">MECH</option>
            <option value="IPE">IPE</option>
            <option value="CIVIL">CIVIL</option>
        </select>
        <select name="semester">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
        </select>
        <input type="file" name="file" multiple>
        <input type="submit" value="Submit">
    </form>
    <script language="javascript" type="text/javascript" src="../static/navAndFooter/footer.txt"></script>

</body>
</html>
